docs/images/*.png filter=lfs diff=lfs merge=lfs -text
docs/images/misc/Codie[[:space:]]Vociferous[[:space:]]Codex.png filter=lfs diff=lfs merge=lfs -text
docs/images/misc/Rofellos[[:space:]]Llanowar[[:space:]]Emissary.png filter=lfs diff=lfs merge=lfs -text
docs/images/misc/Tolarian[[:space:]]Academy.png filter=lfs diff=lfs merge=lfs -text
docs/images/misc/Treizeci[[:space:]]Sun[[:space:]]of[[:space:]]Serra.png filter=lfs diff=lfs merge=lfs -text
docs/images/misc/Umori[[:space:]]the[[:space:]]Collector.png filter=lfs diff=lfs merge=lfs -text
docs/images/misc/Kaheera[[:space:]]the[[:space:]]Orphanguard.png filter=lfs diff=lfs merge=lfs -text
docs/images/misc/Winota[[:space:]]Joiner[[:space:]]of[[:space:]]Forces.png filter=lfs diff=lfs merge=lfs -text
docs/images/misc/Caldera[[:space:]]Breaker.png filter=lfs diff=lfs merge=lfs -text
docs/images/misc/Wrenn[[:space:]]and[[:space:]]One.png filter=lfs diff=lfs merge=lfs -text
docs/images/misc/Yorion[[:space:]]Sky[[:space:]]Nomad.png filter=lfs diff=lfs merge=lfs -text
docs/images/misc/Birthing[[:space:]]Pod.png filter=lfs diff=lfs merge=lfs -text
docs/images/misc/Impatient[[:space:]]Iguana.png filter=lfs diff=lfs merge=lfs -text
docs/images/misc/Jegantha[[:space:]]the[[:space:]]Wellspring.png filter=lfs diff=lfs merge=lfs -text
docs/images/misc/Lutri[[:space:]]the[[:space:]]Spellchaser.png filter=lfs diff=lfs merge=lfs -text
docs/images/misc/Wyll[[:space:]]Pact-Bound[[:space:]]Duelist.png filter=lfs diff=lfs merge=lfs -text
docs/images/misc/Yawgmoth[[:space:]]Thran[[:space:]]Physician.png filter=lfs diff=lfs merge=lfs -text
docs/images/misc/Zirda[[:space:]]the[[:space:]]Dawnwaker.png filter=lfs diff=lfs merge=lfs -text
docs/images/misc/Priest[[:space:]]of[[:space:]]Possibility.png filter=lfs diff=lfs merge=lfs -text
